<nav class="nav navbar navbar-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Ingrese una palabra" aria-label="Search">
        <button class="btn btn-outline-primary btn-rounded my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    <img src="./../../assets/imagenes/logo.png" class="img-fluid" alt="Responsive image">
    <img src="./../../assets/imagenes/pokemones.png" class="img-fluid" alt="Responsive image">
    
  </nav>
  <!--/.Navbar-->


<!--<div class="toolbar" role="banner">

<input type="search" placeholder="Buscar Pok&eacute;mon" id="Buscador">
<span>Pokep&aacute;gina</span>
<div class="spacer"></div>
</div>-->




