
<nav class="nav navbar navbar-expand-lg">
  <div class="container-fluid">
    <form class="form-inline my-2 my-lg-0">
        <input [(ngModel)]="frase" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2"  placeholder="Ingrese una palabra" >
        
        <button class="btn btn-outline-primary btn-rounded my-2 my-sm-0" (click)="buscar()">Buscar</button>
      </form>
      <div class="navbar-right">
        <img src="./../../assets/imagenes/logo.png" class="img-fluid" alt="Responsive image">
      </div>
    <div class="navbar-right">
    <img src="./../../assets/imagenes/pokemones2.png" class="float-right" alt="">
    </div>
  </div>
  </nav>
  <!--/.Navbar-->


<!--<div class="toolbar" role="banner">

<input type="search" placeholder="Buscar Pok&eacute;mon" id="Buscador">
<span>Pokep&aacute;gina</span>
<div class="spacer"></div>
</div>-->




