



  <!-- Footer -->
  <!--<footer>
      Pokep&aacute;gina Polit&eacute;cnico Grancolombiano Arquitectura de Software 2020
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      </a>
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      </a>
  </footer>

  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677"> 
  </svg>-->




<app-cabecera></app-cabecera>
<router-outlet></router-outlet> 
<app-pie></app-pie>