<!-- <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>-->
    <div class="container cont">
      <div class="row">
                <div class="col-4">
                    <a class="boton-imagen" href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png">
                        <img class="img-thumbnail img" alt="" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"/>
                    </a>
                    <div class='text-left'>
                        <h4 class='nombre'></h4>
                    </div>
                </div>
      </div>
    </div>
