<div class="content" role="main">

 <!-- Recursos que se utilizarán para los pokemons -->
  <input type="hidden" #selection>
  <div class="card-container">
    <!--4 POKEMONS -->

    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>

    <!--4 POKEMONS -->
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>

     <!--4 POKEMONS -->
        <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>

     <!--4 POKEMONS -->
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>
     <!--4 POKEMONS -->
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>
     <!--4 POKEMONS -->
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>
     <!--4 POKEMONS -->
  <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>           
     <!--4 POKEMONS -->
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>
     <!--4 POKEMONS -->
   <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>
     <!--4 POKEMONS -->
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>

     <!--4 POKEMONS -->

    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>

     <!--4 POKEMONS -->

   <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div> 

     <!--4 POKEMONS -->

    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>

     <!--4 POKEMONS -->

    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
      <span>Pok&eacute;mon</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
     <span>Pok&eacute;mon</span>
    </div>
