<div class="container cont">
    <div class="container">
        <h3 class="display-4 nombre">{{detalle.name}}</h3>
    </div>
    <div class="row margen" >
        <div class="col-4">
            <img class="img-thumbnail img" alt="" src="./assets/imagenes/img/{{detalle.id}}.png" />
        </div>
        <div class="col-4">
            <h4><b>Base de experiencia: </b>{{detalle.base_experience}}</h4>
            <h4><b>Altura: </b>{{detalle.height}}</h4>
            <h4><b>Ancho: </b>{{detalle.weight}}</h4>

            <div class="row margen">
                <div class="col-6">
                    <img class="img-thumbnail" alt=""
                        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/{{detalle.id}}.png" />
                </div>

                <div class="col-6">
                    <img class="img-thumbnail" alt=""
                        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{detalle.id}}.png" />
                </div>

            </div>

        </div>



        <div class="col-4">
            <h4><b>Habilidades</b></h4>
            <ul *ngFor="let k of habilidad">
                <li>
                    <h4>{{k.ability.name}}</h4>
                </li>
            </ul>
        </div>


    </div>

    

</div>





