.cont{
    margin-top: 50px;
    box-shadow: 7px 7px 15px #434343; 
}

.img{
    width: 90%;
    margin-top: 1%;
    border: 10px solid transparent;
    //border-image: linear-gradient(to right, yellow, blue) 1;
    border-image: url('https://media.giphy.com/media/ullzX0uop0xTq/giphy.gif') 10 round;
    border-radius: 10px;
    margin-bottom: 5%;
}
.nombre{
    font-family: 'Copperplate Gothic Light';
    font-weight: bold;
    color: black;
    text-align: center;
}